@import "../../static/reset.css";

.MyCollection-Top-Container {
  position: static;
  margin: 0 auto;
  height: 430px;
  overflow: scroll;
}

.add-Collection-Button {
  float: right;
  border: 1px solid rgb(88, 88, 88);
  border-radius: 10px;
  padding: 5px 8px 5px 8px;
  margin: 20px;
}
/* collection list 보여주는 부분 */
.MyCollection-List-Container {
  background-color: rgb(207, 201, 212);

  width: 90%;
  padding: 30px;

  margin: 0 auto;

  align-items: center; /* 수직 가운데 정렬 */
  justify-content: center; /* 수평 가운데 정렬 */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.MyCollection-List-cardContainer {
  background-color: rgb(174, 180, 169);

  width: 12.5em;
  min-height: 250px;

  text-align: center;
  border: solid 1px rgb(214, 214, 214);
  border-radius: 10px;

  margin: 15px;
}

.MyCollection-card-imgContainer {
  /* width: 100%; */
  height: 190px;
  line-height: 185px;
  /* background-color: aquamarine; */
}

.MyCollection-somenail {
  background-color: white;
  vertical-align: middle;
  overflow: hidden;
  max-height: 100%;
  max-width: 100%;
}

.MyCollection-title {
  display: flex;
  justify-content: center;
  text-align: center;

  /* background-color: rgba(114, 103, 145, 0.5); */

  padding: 1.5vh 1vw 1.5vh 1vw;
  font-size: 15px;
  height: 50px;
  align-items: center;
}
