@import "../static/reset.css";

.bar-container {
  min-width: 900px;
  position: static;
  margin: 0 auto;

  align-items: center;
  text-align: left;
  justify-content: center;

  font-size: 16px;
  background-color: rgb(204, 196, 185);
  color: black;
}

.bar-search-container {
  display: flex;
  height: 50px;
  align-items: center;
  /* background-color: rgb(178, 207, 207); */
}

.Bar-selectArea {
  width: 70px;
  height: 35px;
  background: url("https://freepikpsd.com/media/2019/10/down-arrow-icon-png-7-Transparent-Images.png")
    calc(100% - 5px) center no-repeat;
  background-size: 20px;
  padding: 5px 10px 5px 10px;
  border-radius: 4px;
  outline: 0 none;
  margin-right: 20px;
}

.Bar-selectArea > option {
  background: black;
  color: #fff;
  padding: 3px 0;
}

.Bar-Search-input-Title {
  background-color: rgb(255, 255, 255, 0);
  border: 1px solid rgb(95, 95, 95);
  padding: 4px;
  height: 25px;
}

.bar-createButton-container {
  float: right;
  margin-top: -40px;
}
.bar-createButton {
  border: 1px solid rgb(129, 129, 129);
  padding: 5px;
}

/*  header, list-container 공통 css */
.bar-header,
.bar-list-container {
  position: static;
  margin: 0 auto;

  width: 70%;
  padding: 15px 30px 15px 30px;
}

.bar-header {
  background-color: rgb(228, 220, 240, 0.5);
}
.bar-header-title {
  /* background-color: rgb(192, 196, 147); */
  padding: 5px 20px 5px 20px;
  font-size: 20px;
  font-weight: 600;
}

.bar-header-content {
  font-size: 16px;
  padding: 5px 20px 5px 20px;
}

/* [ 전통주점 리뷰 전체 조회 목록 ] */
.bar-list-container {
  background-color: rgb(202, 212, 212);
}

/* 주점 리뷰 리스트 container */
.bar-list {
  font-size: 17px;
  background-color: rgba(110, 110, 110, 0.5);

  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;

  width: 70%;
  padding: 0 30px 0 30px;
}

.bar-somenail-container {
  width: 440px;
  height: 440px;

  margin: 0 auto;
  margin-bottom: 50px;

  overflow: hidden;
}

.bar-list-somenail {
  width: 100%;
  height: 440px;
  min-height: 250px;

  margin: 0 auto;
}

.bar-content-container {
  padding: 10px 0 10px 0;
  position: relative;
  margin-top: -100px;
  background-color: rgb(148, 148, 148, 0.7);
  max-height: 70px;
}

.bar-content {
  margin: 10px;
}

.bar-content-title {
}

.bar-content-area {
}

.bar-content-writer {
  margin: 10px;
}

@media screen and (max-width: 1150px) {
  .bar-content-container {
    font-size: 14px;
  }
}

@media screen and (max-width: 750px) {
  .bar-content-container {
    font-size: 13px;
  }
}
