@import "../static/reset.css";

.Bar-Detail-Top-Container {
  margin-top: 10px;
  min-width: 900px;
  position: static;

  font-size: 16px;
  background-color: rgb(255, 255, 255);
  color: black;
}
.Bar-Detail-container {
  text-align: center;
  margin: 0 auto;
  /* min-height: 600px; */
  width: 70%;
  border: 1px solid rgba(146, 146, 146, 0.3);
}

.Bar-Detail-silck-container {
  padding: 10px;
}
.Bar-Detail-image-container {
  margin: 0 auto;
  /* width: 600px; */
  background-color: rgb(255, 255, 255);
}

.Bar-Detail-image {
}
.Bar-Detail-image > img {
  height: 440px;
  min-height: 440px;
  margin: 0 auto;
}

.Bar-Detail-content-container {
  text-align: left;
}

.Bar-Detail-content {
}

.Bar-Detail-Mid {
  padding: 20px 30px 20px 30px;
}

.Bar-Detail-content-title {
  font-size: 25px;
  font-weight: 600;
}

.Bar-Detail-content-writer {
  font-size: 15px;
  float: right;
}

.Bar-Detail-Bottom {
  padding: 5px 30px 5px 30px;
}

.Bar-Detail-content-area {
}

.Bar-Detail-content-date {
  margin-left: 20px;
}

.Bar-Detail-content-content {
  margin-top: 10px;
  margin-bottom: 10px;
  /* background-color: rgb(194, 208, 219); */
  font-size: 18px;
  padding: 20px 30px 20px 30px;
}
