@import "../static/reset.css";

.Bar-Detail-Top-Container {
  margin-top: 10px;
  min-width: 900px;
  position: static;

  font-size: 16px;
  background-color: rgb(255, 255, 255);
  color: black;
}
.Bar-Detail-container {
  text-align: center;
  margin: 0 auto;
  min-height: 600px;
  width: 70%;
  border: 1px solid rgb(0, 0, 0, 0.3);
}

.Bar-Detail-image-container {
  align-items: center;
  background-color: rgb(211, 211, 211);
  margin: 20px 0 10px 0;
}

.Bar-Detail-image {
  height: 400px;
  min-height: 300px;
}

.Bar-Detail-content-container {
  text-align: left;
}

.Bar-Detail-content {
}

.Bar-Detail-Mid {
  /* background-color: rgb(241, 241, 233); */
  padding: 20px 30px 20px 30px;
}

.Bar-Detail-content-title {
  font-size: 25px;
  font-weight: 600;
}

.Bar-Detail-content-writer {
  font-size: 15px;
  float: right;
}

.Bar-Detail-Bottom {
  padding: 5px 30px 5px 30px;

  /* background-color: rgb(167, 167, 154); */
}

.Bar-Detail-content-area {
}

.Bar-Detail-content-date {
  margin-left: 20px;
}

.Bar-Detail-content-content {
  margin-top: 10px;
  /* background-color: rgb(194, 208, 219); */
  font-size: 18px;
  padding: 10px 30px 10px 30px;
}
