@import "../static/reset.css";

.Test-Top-Container {
  position: static;
  min-width: 900px;
}

.test-card-container {
  margin-top: 20px;

  text-align: center;
}

.imgContainer {
  margin-left: 80px;
  width: 450px;
}

.test-card-container > button {
  color: rgb(220, 220, 220);
}
