@import "../static/reset.css";

.Test-Top-Container {
  position: static;
  min-width: 900px;
  font-size: 18px;
}

.background {
  opacity: 0.8;
  height: 450px;
  margin: 0 auto;
  display: flex;
  justify-content: center; /*수직 중앙 정렬*/
  align-items: center; /*수평 중앙 정렬*/

  position: relative;
  margin-top: 50px;
}

.Test-header-container {
  position: relative;
  margin-top: -370px;
}

.Test-header {
  display: flex;
  justify-content: center; /*수직 중앙 정렬*/
  align-items: center; /*수평 중앙 정렬*/
  font-size: 22px;
  padding: 20px;
}

.Test-bottom-container {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center; /*수직 중앙 정렬*/
  align-items: center; /*수평 중앙 정렬*/

  padding: 30px;
}

.Test-content {
  font-size: 17px;
}

.start-button {
  width: 100%;
  font-size: 20px;
  padding: 5px;
  margin-top: 110px;
}

.Test-bottom-container {
}

.question {
  margin-bottom: 30px;
}

.answer {
  display: flex;
  justify-content: center; /*수직 중앙 정렬*/
}

.answer > span {
  display: block;
  padding: 10px;
}

.next-button,
.submit-button {
  margin-top: 10px;
  font-size: 15px;
  float: right;
}
