@import "../static/reset.css";
.Login-Top-Container {
  /* 최상위 컨테이너 가운데 정렬 form */
  position: static;
  text-align: center;
  min-width: 900px;
}

.login-container {
  margin: 0 auto;

  width: 17vw;
  min-width: 260px;
  margin-top: 12vh;
  padding: 45px 30px 35px 30px;

  font-size: 20px;
  border: solid 1px rgb(184, 184, 184);
}

.login-container img {
  height: 110px;
  margin-bottom: 15px;
}

.login-content {
  font-size: 16px;
  margin-top: 1vh;
}

.Kakao-Login-Button {
  margin-top: 9vh;
  padding: 0.5vh 0 0.5vh 0;

  background-color: rgb(255, 230, 0);
  height: 50px;

  /* 자식 태그 중앙 정렬 */
  justify-content: center;
  align-items: center;
  display: flex;
}

.Kakao-Login-Button a {
  font-size: 16px;
  /* border: solid black; */
}
