@import "../static/reset.css";
.Login-Top-Container {
  /* 최상위 컨테이너 가운데 정렬 form */
  position: static;
  text-align: center;
  min-width: 900px;

  /* background-color: rgba(255, 125, 125, 0.3); */
}

.login-container {
  margin: 0 auto;

  width: 17.5vw;
  min-width: 260px;
  margin-top: 12vh;
  padding: 40px 25px 40px 25px;

  font-size: 20px;
  border: solid 1px;
}

.login-container img {
  height: 110px;
  margin-bottom: 15px;
}

.login-content {
  font-size: 16px;
  margin-top: 1vh;
}

.Kakao-Login-Button {
  margin-top: 8vh;
  padding: 1vh 1vw 1vh 1vw;

  background-color: rgb(255, 238, 0);
  height: 60px;
}
