@import "../static/reset.css";

.BoardDetail-Top-Container {
  min-width: 900px;
  position: static;
  margin: 0 auto;
  text-align: center;
  justify-content: center;

  /* background-color: rgb(202, 137, 137, 0.3); */
  padding: 50px;
}

.BoardDetail-Introduce-Container {
  padding-top: 6vh;
  padding-bottom: 6vh;

  background-color: rgba(182, 182, 182, 0.3);
  width: 70%;

  position: static;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  display: flex;
}

.BoardDetail-img-Container {
  padding: 10px;
  border: 1px solid rgb(170, 170, 170);
  width: 40%;
  max-width: 400px;

  height: 360px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.BoardDetail-Introduce-Container img {
  /* height: auto; */
  height: 100%;
  max-width: 100%;
}

.BoardDetail-Introduce-content {
  /* background-color: blueviolet; */
  text-align: left;
  padding: 50px;
  margin-left: 50px;
  border: 1px solid rgb(170, 170, 170);
  width: 30%;
  height: 280px;
  min-width: 300px;
}

.BoardDetail-Introduce-Header {
  height: 60px;
  /* background-color: antiquewhite; */
}
.BoardDetail-name {
  font-size: 23px;
}

.BoardDetail-manufacturer {
  font-size: 18px;

  margin-top: 15px;
  text-align: right;
}

.BoardDetail-Introduce-Filter {
  font-size: 16px;
  margin-top: 30px;
}

/* .BoardDetail-type,
.BoardDetail-degree,
.BoardDetail-capacity {
  font-size: 16px;
} */

.BoardDetail-zzim {
  float: right;
}

.BoardDetail-zzim > img {
  width: 40px;
  height: 40px;
}

.BoardDetail-Introduce-Reviews {
  margin-top: 25px;
  font-size: 18px;
}

/* .BoardDetail-reviewAverage,
.BoardDetail-reviewTotal {
} */

.BoardDetail-price {
  margin-top: 30px;
  font-size: 18px;
}

.BoardDetail-Introduce-content button {
  margin-top: 30px;

  border: 1px solid black;
  float: right;
}

.BoardDetail-Content-Container {
  width: 70%;
  background-color: rgba(130, 160, 204, 0.3);
  margin: 0 auto;
}

.BoardDetail-Content-Container p {
  margin-top: 100px;
}

.BoardDetail-Review-Container {
  margin-top: 50px;
}
