@import "../static/reset.css";

.BoardDetail-Top-Container {
  position: static;
  min-width: 900px;
  margin: 0 auto;
  text-align: center;

  font-size: 18px;

  background-color: rgb(202, 137, 137, 0.3);
  z-index: 1;
  font-size: 18px;

  padding: 50px;
}

.BoardDetail-Introduce-Container {
  padding-top: 10vh;
  background-color: rgba(176, 204, 130, 0.3);
  width: 70%;
  margin: 0 auto;

  display: flex;
}

.BoardDetail-Introduce-Container img {
  height: 350px;
  background-color: rgba(176, 204, 130, 0.3);
}

.BoardDetail-Introduce-content {
  /* margin-top: 50px; */
  width: 70%;
}

.BoardDetail-Introduce-content p {
  margin-top: 20px;
}
.BoardDetail-Introduce-content button {
  border: 1px solid black;
  float: right;
}

.BoardDetail-Content-Container {
  width: 70%;
  background-color: rgba(130, 160, 204, 0.3);
  margin: 0 auto;
}

.BoardDetail-Content-Container p {
  margin-top: 100px;
}

.BoardDetail-Review-Container {
}
