@import "../static/reset.css";

.Review-Header {
  min-width: 900px;
  width: 70%;

  position: static;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  background-color: rgb(223, 223, 223);
  display: flex;
  height: 200px;
  font-size: 20px;
}

.Review-info,
.Review-button-container {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Review-info p {
  margin-top: 10px;
}

.Review-graph-container {
  width: 60%;

  /* background-color: rgb(133, 98, 98); */
}

.noReview {
  color: rgb(73, 73, 73);
  font-size: 17px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Review-graph {
  width: 85%;
  display: flex;
  margin: 0 auto;
}

.graphInfo-head {
  margin-top: 10px;
  min-width: 35px;
  font-size: 15px;
}

.graphInfo-head > p {
  margin-top: 13px;
  margin-bottom: 13px;
}

.Review-button {
  padding: 5px;
  font-size: 18px;
  border: 1px solid rgb(122, 122, 122);
}

.Review-List-Conatainer {
  margin-top: 20px;
}
