@import "../static/reset.css";

.card-Container {
  background-color: rgb(255, 255, 255);

  margin: 0 0 50px 0;

  width: 10em;
  height: 10em;
  min-width: 100px;
  min-height: 320px;

  text-align: center;
  border: solid 1px rgb(214, 214, 214);
  border-radius: 10px;
}
.card-imgContainer {
  height: 235px;
  line-height: 220px;
  /* background-color: aquamarine; */
}
.alcohol-image {
  background-color: white;
  vertical-align: middle;
  overflow: hidden;
  /* height: 220px; */
  max-height: 100%;
  max-width: 100%;
}

.alcohol-name {
  /* 중앙정렬 */
  display: flex;
  justify-content: center;

  background-color: rgba(228, 228, 228, 0.5);

  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-top: 1vh;
  /* margin-top: 15px; */

  height: 50px;
  font-size: 13.5px;
}

.alcohol-content {
  /* 중앙정렬 */
  display: flex;
  justify-content: center;

  height: 20px;
  width: 100%;

  margin-top: 5px;
  font-size: 13px;
  /* background-color: rgb(143, 143, 143); */
}

.alcohol-price {
  width: 5vw;
  min-width: 70px;
}

.alcohol-review {
  margin-left: 0.5vw;
  width: 5vw;
  min-width: 70px;

  /* background-color: rgb(199, 199, 199); */
}
