@import "../static/reset.css";

.MyLiked-Top-Container {
  height: 100%;
}

.MyLiked-Container {
}

.MyLiked-SliderItem {
  padding-top: 24px;
  padding-bottom: 24px;
  height: 180px;
  overflow: hidden;
  /* border: 1px solid rgb(143, 143, 143); */
}

.MyLiked-SliderItem > img {
  margin: 0 auto;
  height: 100%;

  max-width: 100%;
}

.MyLiked-SliderItem > button {
  position: fixed;
}
