@import "../static/reset.css";

.mylike-Slider-Container {
  background-color: rgb(255, 255, 255);
  height: 100%;
}

.slick-prev:before {
  color: rgb(180, 180, 180) !important;
}
.slick-next:before {
  color: rgb(180, 180, 180) !important;
}
