@import "../static/reset.css";

.MyPage-Top-Container {
  /* 최상위 컨테이너 가운데 정렬 form */
  position: static;
  display: flex;
  justify-content: center;
  text-align: center;

  min-width: 900px;
  margin-top: 50px;
}

.MyPage-nav-container {
  width: 110px;

  margin-right: 50px;
  padding: 40px 15px 0 15px;
  height: 400px;
  border: solid 1px rgb(168, 168, 168);
}

.MyPage-nav-container span {
  font-size: 20px;
  font-weight: 600;
}

.MyPage-nav-container button {
  font-size: 15px;
  margin-top: 45px;
}

.MyPage-nav-content {
}

.MyPage-Right-container {
  background-color: rgb(238, 238, 238);

  width: 50%;
  min-width: 700px;
  border: solid 1px rgb(168, 168, 168);
}

.hide {
  display: none;
}

.show {
  font-weight: 700;
}

/* 배너-모바일 */
@media screen and (max-width: 900px) {
  .MyPage-Top-Container {
    width: 100%;
    display: inline-block;
  }
  .MyPage-nav-container {
    width: 80%;
    max-height: 90px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    padding: 0;
    margin-bottom: 50px;
  }

  .MyPage-nav-container span,
  .MyPage-nav-container button {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

  .MyPage-nav-container span {
    font-size: 22px;
    margin-right: 10px;
  }
  .MyPage-Right-container {
    width: 80%;
    height: 460px;
    margin: 0 auto;
  }
}
