@import "../static/reset.css";

.UserInfo-Top-Container {
}

.UserInfo-Top-Container > h2 {
  padding: 40px;
  font-size: 19px;
}

.UserInfo-Content-Container {
  height: 280px;
  justify-content: center;
}

.UserInfo-List-header {
  font-size: 18px;
  display: flex;
  position: static;
  width: 70%;
  margin-left: 50px;
  /* background-color: rgb(228, 228, 228); */
  float: left;
}
.UserInfo-List-header > span {
  /* background-color: rgb(184, 184, 184); */
  width: 25%;
  height: 50px;
}

.UserInfo-List-header > p {
}

.UserInfo-button-Container {
  float: right;
  margin-top: 10px;
}

.UserInfo-button-Container button {
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px;
}

.UserInfo-withdrawalButton {
  margin-right: 20px;
}

.UserInfo-editButton {
  margin-right: 20px;
}

.UserInfo-nickname-input,
.UserInfo-capacity-input {
  height: 20px;
  padding: 0;
}

.UserInfo-nickname-input-button,
.UserInfo-capacity-input-button {
  padding: 5px;
  height: 100%;
}
