@import "../static/reset.css";

.CreateCollection-Container {
  min-width: 900px;
  position: static;
  font-size: 20px;
  background-color: rgb(230, 224, 198);
}

/* search Modal css */
.CreateCollection-Search-Top-Container {
}

.CreateCollection-Search {
  display: inline;
  width: 100%;
}

.Close-SearchModal-Button {
  float: right;
  border: 1px solid rgb(88, 88, 88);
  border-radius: 10px;
  padding: 5px 8px 5px 8px;
  margin: 20px;
}

.SearchModal-input-container {
  padding: 20px;
  background-color: rgb(212, 212, 212, 0.5);
}

.SearchModal-inputAlcohol {
  font-size: 18px;
  border: none;
  padding: 10px;
  width: 75%;
}

.SearchModal-search-button {
  border: 1px solid rgb(88, 88, 88);
  border-radius: 10px;
  padding: 5px 8px 5px 8px;
  margin: 10px;
}

.SearchModal-Result-container {
  position: absolute;
  width: 70%;
  height: 400px;
  background-color: rgb(245, 231, 214);
}

/* 제목, 검색창 */
.CreateCollection-Top-Container {
  padding: 20px;
  margin: 0 auto;
  width: 70%;
  background-color: rgb(219, 196, 196);
}

.Create-Undo-Button {
}

.CreateCollection-Top-Header {
}

.CreateCollection-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.CreateCollection-inputTitle {
  font-size: 18px;
  border: none;
  padding: 10px;
  width: 500px;
}

.CreateCollection-moveToSearchModal {
  font-size: 18px;
  margin-left: 58px;
  border: none;
  padding: 10px;
  width: 500px;
}

/* 선택한 우리술 보여주기 */
.CreateCollection-Bottom-Container {
  padding: 20px;
  margin: 0 auto;
  width: 70%;
  height: 100px;
  background-color: rgb(183, 174, 190);
}
