@import "./reset.css";

/* 창 크기 작아지면 네비게이션 글씨 크기 작아지게 만들기 */
.nav {
  /* 가로세로 가운데 정렬 */
  align-items: center;
  display: flex;
  justify-content: center;

  position: absolute;
  height: 60px;
  width: 100%;
  min-width: 800px;

  font-size: 18px;
  background-color: rgb(233, 233, 233);
  color: black;
}

.nav-board,
.nav-user,
.nav-test,
.logOut-button,
.nav-login {
  height: 13px;
  /* background-color: aqua; */
  margin-right: 3vw;
}

.nav-logo {
  /* margin-left: 20vw; */
  margin-right: 2vw;
}

.nav-logo img {
  width: 60px;
  height: 60px;
}

.nav-board {
  min-width: 140px;
}

.nav-test {
  min-width: 160px;
}

.inputAlcohol {
  width: 160px;
  font-size: 15px;
}

.search-container {
  min-width: 200px;
  margin-right: 1vw;
}

.search-button {
}

.nav-login {
}
.logIn-button {
  margin-left: 3vw;
  min-width: 120px;
}

.nav-user {
  margin-right: 2vw;
  min-width: 90px;
}

.nav-mypage {
}

.logOut-button {
  font-size: 18px;
  min-width: 80px;
  padding: 0px;
  height: 15px;
  margin-top: 18px;
}

@media (max-width: 768) {
  .nav {
    font-size: 8px;
  }
}
