@import "../../static/reset.css";

.MyCollection-Top-Container {
  position: static;
  height: 430px;
  overflow: scroll;
}

.add-Collection-Button {
  float: right;
  border: 1px solid rgb(88, 88, 88);
  border-radius: 10px;
  padding: 5px 9px 3px 9px;

  margin: 20px;
}
.no-collection {
  margin-top: 150px;
}

/* collection list 보여주는 부분 */
.MyCollection-List-Container {
  width: 90%;
  padding: 5px;

  margin: 0 auto;

  align-items: center; /* 수직 가운데 정렬 */
  justify-content: center; /* 수평 가운데 정렬 */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  letter-spacing: 2px;
  line-height: 20px;
}

.MyCollection-List-cardContainer {
  width: 11em;
  height: 120px;

  border: solid 1px rgb(183, 183, 183);
  border-radius: 10px;

  margin: 10px;
  padding: 10px;
}

.MyCollection-List-cardContainer > button {
  float: right;
}

.MyCollection-title {
  font-size: 15px;
  color: rgb(52, 63, 62);

  margin: 0 auto;
  width: 80%;
  height: 80%;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  align-items: center; /* 수직 가운데 정렬 */
  justify-content: center; /* 수평 가운데 정렬 */

  /* background-color: aqua; */
}
